<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/fe3ffe49-4d48-4731-98a8-ecbeafaab447/resourceGroups/EmployeePortal/providers/Microsoft.ApiManagement/service/EmployeePortalapi/apis/EmployeePortal</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/fe3ffe49-4d48-4731-98a8-ecbeafaab447/resourceGroups/EmployeePortal/providers/Microsoft.Web/sites/zeusemployeeportalbackend</ResourceId>
    <ResourceGroup>EmployeePortal</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://zeusemployeeportalbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3c3f3260-e422-4c09-83b5-937c50d98671</ProjectGuid>
    <PublishUrl>https://zeusemployeeportalbackend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$zeusemployeeportalbackend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>